.card {
  background: #fff;
  border-radius: 2px;
  height: 150px;
  margin-bottom: 20px;
  /* margin: 1rem; */
  position: relative;
  width: 150px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  transition: filter .3s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); /* FF 35+ */
}
.card > .img-container > img {
  width: 90%
}
.card >.img-container:hover {
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}