.navbar {
  /* text-align: center; */
  margin: 0 auto;
  background-color: rgb(218, 165, 22);
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0;
}

a {
  color: black;
}

.title {
  float: left;
}

.scores {
  float: right;
}